* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: blanchedalmond;
}

main {
  margin: 20px;
  border: 2px solid black;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}
