@font-face {
  font-family: "press_start_2pregular";
  src: url("fonts/pressstart2p-regular-webfont.woff2") format("woff2"),
    url("fonts/pressstart2p-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: rgba(0, 0, 0, 0.8);
  font-family: "press_start_2pregular", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  overflow: hidden;
}

#main {
  margin: 0;
  text-align: center;
  color: #ffffff;
}

#fpsCounter {
  position: fixed;
  background: black;
  border-radius: 3px;
  color: white;
  padding: 5px;
  right: 40px;
  top: 10px;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

.playArea {
  position: relative;
  text-align: center;
  margin: auto;
  outline: 10px solid #ffffff;
  padding: 0;
  background: #3783fa;
}
